In [20]:
import datascience as ds
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

In [6]:
a = ds.make_array(1,3,5)

array([1, 3, 5])

In [7]:
t = ds.Table().with_columns('x', ds.make_array(1, 3, 5))

x
1
3
5

In [15]:
# typically this procedure is called map, in Common Lisp it's mapcar
# apply is an old Python function that was replaced with func(*args)

t.apply(lambda x: x * 2, 'x')

array([ 2,  6, 10])

In [12]:
pa = [1, 3, 5]

[1, 3, 5]

In [13]:
list(map(lambda x: x * 2, pa))

[2, 6, 10]

In [16]:
def cut_off_at_100(x):
    return min(100, x)

In [17]:
cut_off_at_100

In [22]:
plt.scatter?

In [23]:
# 8.2
cones = ds.Table().with_columns(
    'Flavor', ds.make_array('S', 'C', 'C', 'S', 'C'),
    'Price', ds.make_array(3.55, 4.75, 6.55, 5.25, 5.25))

Flavor | Price
S      | 3.55
C      | 4.75
C      | 6.55
S      | 5.25
C      | 5.25

In [29]:
cones.group("Flavor", sum)
# sum may be replaced with any function that works on arrays

Flavor | Price sum
C      | 16.55
S      | 8.8

In [28]:
# appears meaningless
cones.group("Flavor", lambda a: a * a)

Flavor | Price
C      | [22.5625 42.9025 27.5625]
S      | [12.6025 27.5625]